*{
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
a{
    color: black;
    
}
    
    /*Color of the whole site*/

/*styling of navigation bar*/
header{

    background-color: rgb(192, 192, 192);
    color: black;
}
h1 {
    display: block;
    font-size: 45px;
    position:relative; left:0px; top:110px;
}
nav {
    margin-right: 0px;

    
}
header ul li {
display: inline-flex;
position: relative; left:325px; top: 23px;

}

section{ 
    background-color: white;

}
section div {
    position: relative;
    left: -50px; top: 100px;
  }
section img {
    position: relative;
    left: 400px; top: -150px;
    width: 50%;
    height: auto;
    }
article {
    background-color: rgb(192, 192, 192);
}
article h3{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
.first-project {
    height: 500px;
    width: 500px;
}
article img {
   display: inline-block;
   width: 200px;
   height: 200px;
}

article div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
article a:hover{
    background-color: rgb(71, 71, 71);
}

section h4{
    text-align: center;
}

h4{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
h5{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}
address div{
    text-align: center;
    display: inline-flex;
    position: relative; left: 275px; top: 23px;
    
}
@media screen and (max-width: 820px){
    header ul li {
    left: 250px;
    top: 8px;
     margin:0px;
     }

    h1 {
    position:relative; left:0px; top:75px;
    }
    section div {
        text-align: center;
        left: -50px; top: 0px;
    }
    section img{
        left: 100px; top: 0px;
        }
    address div {
        position: relative; left: 100px; top: 23px;
    }
}