*{
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}/*Color of the whole site*/
body{
    background-color: rgb(255, 255, 255);
}
/*styling of navigation bar*/
header{
    padding: 0px;
    margin-right: 20px;
    border:2px;
    background-color: rgb(192, 192, 192);
    color: black;
}
header h1 {
    display: block;
    font-size: 45px;
    position:relative; left:0px; top:110px;
}
header nav {
    margin-right: 0px;

    
}
header ul li {
display: inline-flex;
position: relative; left:425px; top: 23px;
}

section{ 
    background-color: white;

}
section div {
    position: relative;
    left: -30px; top: 100px;
  }
section img {
    position: relative;
    left: 475px; top: -150px;
    width: 50%;
    height: auto;
    }
article {
    background-color: rgb(192, 192, 192);
}
article h3{
    font-size: 30px;
}
article img {
   display: inline-block;
   width: 150px;
   height: 150px;
   
    
}
.project1 {
    position: relative;
    left: -30px; top: -150px;
    width: 50%;
    height: auto;
    

}


